// Boxes
$navBoxWidth: 1600px;
$contentBoxWidth: 1280px;
$navBarSiteHeight: 126px;
$navBarDocHeight: 44px;
$fullNavBarHeight: calc($navBarSiteHeight + $navBarDocHeight);
// Spacing
$navSpacing: 50px;
$gapSpacing: 32px;

//Content columns
$columns: 12;

//NavBar z-index
$navBarZIndex: 10;
