.resource_content {
    width: 100%;

    &_card {
        border-right: 1px solid var(--casperWhite);
    }

    @media (max-width: 1335px) {
        &_box {
            grid-template-columns: repeat(auto-fill, minmax(350px, 400px)) !important;
            justify-content: center;
            align-items: center;

            .resource_content_card {
                min-width: 350px;
            }
        }
    }

    @media (max-width: 967px) {
        .resource_content_card {
            border: none;
        }
        .resource_content_card:nth-child(2) {
            border: none;
        }
    }
}

.border_none {
    border: none;
}
