.socialtiles {
    width: 100%;
    background-color: var(--liftedBlack);
    color: var(--casperWhite);

    .socialtiles_content {
        @media (max-width: 1380px) {
            grid-template-columns: repeat(auto-fill, minmax(350px, 400px));
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 1190px) {
            grid-template-columns: repeat(auto-fill, minmax(350px, 400px));
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(auto-fill, minmax(350px, 400px));
        }
    }
}
