@import "../../../../../../../assets/scss/mixins";
.link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    a:link {
        text-decoration: none;
        color: var(--casperWhite);
    }

    a:visited {
        color: var(--casperWhite);
    }

    a:hover {
        @include transition(0.3s all);
        color: var(--casperRed);
    }

    .subLinkList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-left: 20px;
    }
}

.onlyTitle {
    gap: 0px;
}
