.navbarMobileTitle {
    background-color: transparent;
    border: 0;
    padding: 0px;
    position: relative;

    &_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
