@use "../../../assets/scss/variables/sizes";

.fullNavBarHeight{
  height: var(--navBarDocHeight);
  position: relative;
  width: 100%;
  padding: 0 var(--navSpacing);
}

@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}
