@use "../../../../assets/scss/variables/sizes";

.sideBarWrapper {
    position: absolute;
    top: var(--navBarDocHeight);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    /* transform: translate3d(0, calc(-100% - var(--ifm-navbar-height)), 0); */
    transform: translate3d(0, -35%, 0);
    z-index: 0;

}

.docSearchContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
