@use "../../../assets/scss/variables/sizes";
@import "../../../assets/scss/mixins";

.wrapper {
    position: relative;
    z-index: sizes.$navBarZIndex;
    width: 100%;
    background-color: var(--black);
}

.navbar_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .container {
        height: sizes.$navBarSiteHeight;
        color: var(--casperWhite);
        margin: 0;

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 4%;
            align-items: center;

            .navbar_logo_container {
                width: 163px;
                min-width: 83px;
            }

            .login,
            .loggedIn {
                > button {
                    background-color: transparent;
                    color: var(--casperWhite);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 9px;
                    border: 0;
                    padding: 0;

                    &:hover {
                        > span {
                            @include transition(0.3s all);
                            color: var(--casperRed);
                        }
                        > svg {
                            path {
                                @include transition(0.3s all);
                                fill: var(--casperRed);
                            }
                        }
                    }
                }
            }
            .icon {
                position: relative;
                width: 29px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                &_cancel,
                &_menu {
                    position: absolute;
                    transform: scale(all);
                    @include transition(0.3s ease-in);
                    > svg {
                        path {
                            fill: var(--casperWhite);
                        }
                    }
                }
                &_cancel_none,
                &_menu_none {
                    transform: scale(0);
                }
            }
        }
    }
}

@media (max-width: 930px) {
    .navbar_logo_container {
        a {
            display: block;
            width: 83px;
        }
    }
}
