@import "../../../../assets/scss/mixins";
.social_icons {
    min-width: 175px;

    .social_icons_container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        color: var(--socialMediaLogos);

        > a {
            svg {
                max-width: 32px;
                max-height: 24px;
                path {
                    @include transition(0.3s all);
                    fill: var(--primaryBtn-hover);
                }
            }
            &:hover {
                svg {
                    path {
                        fill: var(--casperRed);
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .social_icons {
        min-width: 50%;

        .social_icons_container {
            gap: 10%;
            justify-content: flex-start;
        }
    }
}
