.wrapper {
    .tileContent {
        grid-template-rows: max-content;
    }

    > a {
        margin-top: 50px;
    }
    .container_btn {
        display: flex;
        justify-content: center;
        align-items: center;

        :hover {
            > [class*="button_container"] {
                gap: 8px;
            }
        }
    }
}

@media (max-width: 1024px) {
    [class*="container"] > .tileContent {
        grid-template-columns: repeat(auto-fill, minmax(360px, 100px));
        justify-content: center;
    }
}

@media (max-width: 400px) {
    [class*="container"] > .tileContent {
        grid-template-columns: 1fr;
    }
}
